$font1: 'Bungee Shade';
$font2: 'Cardo';

$bl: #000;
$wh: #fff;
$gradient: linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);
$bshadow: 0px 0px 5px rgba(0, 0, 0, 0.5);


$interetbg: url(../images/bg-interet.jpg);
$citationbg: url(../images/bg-citation.jpg);